@import "navbar-home.css";

*{
    margin: 0; 
    padding: 0; 
    font-family: 'Playfair Display', serif;
}

.content{
    width: 1200px; 
    height: auto;
    margin: auto;
    color: white; 
    position: relative; 
    padding-left: 10px; 
}

.content h1 {
    font-size: 80px; 
    padding-left: 60px; 
    margin-top: 5%; 
    letter-spacing: 2px; 
    color: white; 
    font-family: 'Playfair Display', serif;
    
}

.content .par{
    font-size: 20px; 
    padding-bottom: 25px; 
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.2px; 
    line-height: 30px; 
    color: #E55A32; 
}

.D{
    padding-left: 45px; 
    color: white; 
    font-family: 'Playfair Display', serif;
}

.content .cn{
    width: 160px; 
    height: 40px; 
    background: transparent; 
    border: 2px solid #EF9834; 
    border-radius: 50px; 
    margin-left: 9%; 
    cursor: pointer; 
 


}

.content .cn:hover{
    border: none; 
    color: black; 
    background: #EF9834; 
    transition: 0.5s; 
    z-index: -1; 
    
   

}


.content .cn a:hover{
    color: black; 
}

.content a .cn{
    text-decoration: none; 
    color: white; 
    font-family: 'Michroma', sans-serif;
}