*{
    margin: 0; 
    padding: 0; 
    font-family: 'Playfair Display', serif;

    
}

.banner{
    width: 100%; 
    height: 100vh; 
    background-image: url("images/home.png");
    background-size: cover; 
    background-position: center;
}

.navbar{
    width: 85%; 
    margin: auto; 
    padding: 35px 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
}

.logo{
    width: 120px; 
    cursor: pointer; 
}

.navbar ul li{
    list-style: none; 
    display: inline-block; 
    margin: 0 20px;
    position: relative;  

}

.H{
    color: #EF9834; 
    font-family: 'Michroma', sans-serif;
}  

.O{
    color: #EA7933;
    font-family: 'Michroma', sans-serif;
}

.R{
    color: #E55A32;
    font-family: 'Michroma', sans-serif;
}

.C{
    color: #E03C31;
    font-family: 'Michroma', sans-serif;
}

.CU{
    color: white; 
    font-family: 'Michroma', sans-serif;
}
.navbar ul li a{
    text-decoration: none; 
    text-transform: uppercase; 

}

.navbar ul li::after{
    content: '';
    height: 3px; 
    width: 0;
    background: #EF9834;
    position: absolute; 
    left: 0; 
    bottom: -10px; 
    transition: 0.5s; 
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 1200px; 
    height: auto;
    margin: auto;
    color: white; 
    position: relative; 
    padding-left: 10px; 
}

.content h1 {
    font-size: 80px; 
    padding-left: 60px; 
    margin-top: 5%; 
    letter-spacing: 2px; 
    color: white; 
    font-family: 'Playfair Display', serif;
    
}

.content .par{
    font-size: 20px; 
    padding-bottom: 25px; 
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.2px; 
    line-height: 30px; 
    color: #E55A32; 
}

.D{
    padding-left: 45px; 
    color: white; 
    font-family: 'Playfair Display', serif;
}

.content .cn{
    width: 160px; 
    height: 40px; 
    background: transparent; 
    border: 2px solid #EF9834; 
    border-radius: 50px; 
    margin-left: 9%; 
    cursor: pointer; 
 


}

.content .cn:hover{
    border: none; 
    color: black; 
    background: #EF9834; 
    transition: 0.5s; 
    z-index: -1; 
    
   

}


.content .cn a:hover{
    color: black; 
}

.content a .cn{
    text-decoration: none; 
    color: white; 
    font-family: 'Michroma', sans-serif;
}


.container{
    border-radius: 20px; 
    line-height: 2.6; 
    letter-spacing: 1px; 
    font-weight: 400; 
    color: white; 
    font-family: 'Michroma', sans-serif;
    background-color: #fafafa; 
    margin: 200px; 
    box-shadow: rgba(0,0,0,.1);
    display: grid; 
    grid-template-columns: 40% 60%; 
}

.container-time{
    background: rgba(0,0,0, .95); 
    padding: 50px; 
    outline: 3px dashed #EF9834; 
    outline-offset: -30px; 
    text-align: center; 
}

.heading {
    font-size: 35px; 
    text-transform: uppercase; 
}

.heading-days {
    color: #EF9834; 
    font-size: 30px; 

}

.heading-phone {
    font-size: 20px; 
}

.container-form{
    padding: 20px 0; 
    margin: 0 auto; 
    color: #000; 
}

form {
    display: grid; 
    grid-row-gap: 20px; 
}

form p{
    font-weight: 600; 
}

.form-field {
    display: flex; 
    justify-content: space-between; 
}

input,select{
    pad: 10px 15px; 
}

.btn {
    background-color: rgba(0,0,0, .95); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    font-size: 18px; 
    border-radius: 100px; 
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    -ms-border-radius: 100px; 
    -o-border-radius: 100px; 
    box-shadow: 7px 10px 12px rgba(0,0,0, .1);
    cursor: pointer; 
    transition: all .3s; 
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -ms-transition: all .3s; 
    -o-transition: all .3s; 

}

.btn:hover{
    transform: scale(1.03); 
    -webkit-transform: scale(1.03); 
    -moz-transform: scale(1.03); 
    -ms-transform: scale(1.03); 
    -o-transform: scale(1.03); 
    box-shadow: 10px 12px 15px rgba(0,0,0, .3); 
}